html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}

@font-face {
    font-family: 'cc_red_alert';
    src: url(images/cc_red_alert.ttf);
}
body {
    background-color: whitesmoke;
    font-family: 'cc_red_alert', Helvetica;
}
header {
    font-size: 90px;
    display: block;
    padding-top: 10px;
    text-align: center;
}
main {
    font-size: 50px;
    display: block;
    text-align: center;
}
section.scoreboard {
    margin-top: 15px;
}
.scoreboard h2 {
    display: inline-block;
    padding: 10px 25px;
}
span.player-counter {
    color: blue;
}
span.computer-counter {
    color: red;
}
section.select-text {
    font-size: 60px;
    font-style: italic;
    padding-top: 20px;
}
section.select-buttons {
    margin-top: 45px;
}