html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}

@font-face {
    font-family: cc_red_alert;
    src: url(images/cc_red_alert.ttf);
}
body {
    background-color: #f5f5f5;
    font-family: cc_red_alert, Helvetica;
    text-align: center;
    display: block;
}
header {
    font-size: 90px;
    margin-top: 10px;
}
.scoreboard h2 {
    font-size: 50px;
    display: inline-block;
    margin: 10px 0px;
}
span.player-counter {
    color: rgb(0, 0, 185);
}
span.computer-counter {
    color: rgb(185, 0, 0);
}
section.select-text {
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    margin: 10px 0;
}
section.select-buttons, section.new-game-button {
    margin-top: 50px;
}
input.btn {
  display: inline-block;
  height: 272px;
  padding: 0 20px;
  transition-duration: 0.1s;
  -webkit-transition: 0.1s;
}
input.btn:hover {
  transform: translateY(-15px);
}
input.btn:disabled {
  transform: translateY(0);
}
button {
    font: 80px cc_red_alert;
    background-color: whitesmoke;
    border: 8px solid black;
    padding: 5px 10px;
    cursor: pointer;
}
button:hover {
    color: rgb(0, 165, 0);
    border-color: rgb(0, 165, 0);
}
